.btn-danger {
    background: #e685a1;
    border-color: #d86385;
}

.btn-danger:focus,
.btn-danger:hover {
    background-color: #ce6d89;
    border-color: #bb5270;
}

.btn-primary {
    background: #5494d6;
    border-color: #3471af;
}

.btn-primary:focus,
.btn-primary:hover {
    background: #3f78b3;
    border-color: #3471af;
}