html {
  font-size: 10px;
}
canvas {
  width: 100% !important;
  height: 60vh !important;  /*RWD - oryginalny wymiar tabeli nie byl responsywny, obejscie poprzez nadanie wysokosci i szerokosci w odpowiednich jednostkach*/
}

hr {
 border-top: 2px solid #ebf1f5;
}
