.navbar-header h1 {
    margin: 0;
}
.navbar-header h1 a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-default {
    background: #4c637b;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    background: #344c67;
    color: #ffffff;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background: #617fa1;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #b8c6d6;
    text-shadow: none;
    font-size: 1.2rem;
}


.navbar-default .navbar-nav > li > a:hover {
    background: #6ec5ef;
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: #38b1eb;
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a {
    cursor: default;
}

.navbar-default .navbar-toggle {
    border: 0;
    border-radius: 0;
    background-color: #38b1eb;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    -webkit-transition: backgound 1s;
    -moz-transition:  backgound 1s;
    -ms-transition:  backgound 1s;
    -o-transition:  backgound 1s;
    transition:  backgound 1s;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #6ec5ef;
}
